.collapse {
    background-color: #FF6060;
    height: 50px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;

    &__content {
        display: flex;
        flex-direction: column;
        margin: 20px 150px;
        gap: 30px;
    }

    &__title {
        color: white;
        font-size: 20px;
        font-weight: 600;
    }

    &__chevron {
        margin-top: 7px;
        width: 20px;
        transition: transform 0.5s ease-in-out;
    }

    &__chevron--anim {
        transform: rotate(-180deg);
    }

    &__comment {
        display: flex;
        position: relative;
        z-index: -87;
        margin: 0;
        padding: 20px;
        background-color: whitesmoke;
        
    }

    &__comment--anim {
        animation-duration: 0.5s;
        animation-name: slidein;
    }

    &__comment--reverse {
        animation-duration: 0.5s;
        animation-name: slideout;
    }

    @keyframes slidein {
        0% {
            opacity: 0;
            transform: translateY(-50px);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes slideout {
        0% {
            opacity: 1;
            transform: translateY(0);
        }

        100% {
            opacity: 0;
            transform: translateY(-50px);
        }
    }

    @media (max-width: 768px) {
        &__content {
          margin: 20px;
        }
      }
}