.footer {
    background-color: black;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__title {
        width: 8%;
        margin-top: 50px;
    }

    &__copyright {
        color: white;
        text-align: center;
        display: flex;
        margin-top: 30px;
    }
}