.footer {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    width: 100px;
    margin-top: 50px;
  }

  &__copyright {
    color: white;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  @media (max-width: 768px) {
    &__title {
      margin-top: 40px;
    }

    &__copyright {
      width: 150px;
      margin-top: 10px;
      margin-bottom: 30px;
    }
  }
}
