.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;

  &__title {
    color: red;
    width: 200px;
  }

  &__nav {
    display: flex;
    gap: 50px;
    font-size: 18px;
    font-weight: 500;
  }

  &__link {
    color: black;
    
  }

  &__link--about {
    text-decoration: none;
  }
}
