.information {
    display: flex;
    justify-content: space-between;
    margin: 20px 80px;

    &__content {
        display: flex;
        flex-direction: column;
        width: 80%
    }

    &__title {
        color: #FF6060;
        font-weight: 400;
        margin: 0;
    }

    &__location {
        margin-top: 5px;
        font-weight: 600;
    }

    &__filters--content {
        display: flex;
        gap: 10px;
        width: 100%;
        align-items: center;
    }

    &__filters {
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-weight: 600;
        font-size: 17px;
        width: 150px;
        height: 10px;
        padding: 10px;
        background-color: #FF6060;
        border-radius: 10px;
    }

    &__portrait {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 20px;
    }

    &__host {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 5px;
    }

    &__name {
        text-align: end;
        width: 70px;
        color: #FF6060;
    }

    &__photo {
        border-radius: 50%;
        width: 70px;
    }

    &__rating {
        display: flex;
        gap: 15px;
    }

    &__star {
        width: 24px;
        height: 24px;
    }


    @media (max-width: 768px) {
        & {
            margin: 30px 15px 10px 15px;
            display: inherit;
        }

        &__content {
            width: 100%;
        }

        &__filters {
            font-size: 10px;
            padding-left: 5px;
            padding-right: 5px
        }

        &__filters--content {
            width: 100%;
        }

        &__portrait {
            flex-direction: row-reverse;
            align-items: center;
            justify-content: space-between;
            gap: 0;
        }

        &__photo {
            width: 60px;
        }

        &__rating {
            gap: 8px;
        }

        &__star {
            width: 18px;
            height: 18px;
        }
    }
}